@import "../../styles/helpers/variables";

.profil__container {
    height: 100vh;
    width: 100vw;
    background-color: $bg;
    display: flex;justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profil__list {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.label {
    color: #fff;
    font-size: 3.5vw;
    width: 100%;
}
.choose__profil {
    margin: 2em 0;
}
.profil {
    width: 10vw;
    max-width: 200px;
    min-width: 84px;
    margin: 0 2vw 0 0;
    position: relative;
    display: inline-block;
}
.profil__icon {
    height: 10vw;
    width: 10vw;
    position: relative;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
        border: 2px solid #fff;
    }
}
.profil__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 8px;
}


.profil__add {
    height: 10vw;
    width: 10vw;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    svg {
       width: 6vw;
    }
    &:hover {
        background-color:#fff;
    }
}
.profil__name {
    line-height: 1.2em;
    min-height: 1.8em;
    color: grey;
    display: block;
    text-align: center;
    font-size: 1.3vw;
    margin: 0.6em 0;
}
.profil__button {
    color:  grey;
    background-color: transparent;
    padding: 0.5em 1.5em;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 2em 0 1em 0;
    border: 1px solid grey;
    font-size: 1.2vw;
    &:hover {
        color: #fff;
        border-color: #fff;
    }
}
.test {
    position: absolute;
    z-index: 9000;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vw;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(51, 51, 51, 0.404);
    &:hover {
        border: 2px solid grey;
    }
    svg {
        fill: #fff;
        width: 24px;
    }
}