$mainFont : 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$titleFont: 'Bebas Neue', cursive;
$colorMain : #e50914;
$colorMainVariant: #e50914c0;
$colorSecond: #000205;
$colorSVariant: #000205ad;
$bg : #141414;

