@import "../../styles/helpers/variables";

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    background: $colorSVariant;
}
.form__container {
    display: flex;
    height: 60%;
    width: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0px 15px 0px;
    border-radius: 10px;
    background: $colorSVariant;
    @media screen and (max-width: 1140px) {
        flex-direction: column;
    }
}
.side__form {
    width: 60%;
    height: 100%;
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 1140px) {
        width: 50%;
    }
}
.logo {
    margin: 10px;
    fill: $colorMain;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 100%;
    width: 300px;
    color: #fff;
    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: $colorMain;
        width: 5px;
        height: 0;
        transition: all 0.2s linear;
        @media screen and (max-width: 1140px) {
             bottom: 0!important;
             transform: translateY(0);
             left: 0;
             margin-top: 20px;
             top: unset;
             width: 0;
             height: 2px;
        }
    }
    &:hover {
        @media screen and (min-width: 1141px) {
            &::after {
                height: 50%;
            }
        }
        
        @media screen and (max-width: 1140px) {
        &::after {
            }
        }
        
    }
}
.form__action {
    display: flex;
    justify-content: center;    
}