.container {
    height: 100vh;
    background-color: rgb(15, 15, 15);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player__container {
    display: flex;
    justify-content: center;
}
.movie__title {
    color: #fff;
    padding: 10px;
}
.info {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.movie__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 20px;
}
.movie__description {
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    &::after {
        content: '';
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 1px;
        bottom: 0;
    }
}
.info__detail {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 10px;
    align-items: center;
    &::after {
        right: 0;
        content: '';
        position: absolute;
        background-color: #fff;
        width: 2px;
        height: 80%;
    }
}