.hover__card__container {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 200vh;
    overflow: scroll;
    border-radius: 2px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 200222220;
    animation: scale 2s forwards;
    padding-top: 150px;
    &::-webkit-scrollbar {
        display: none;
    }
}
@keyframes scale {
    0% {
        left: -100%;
    } 30% {
        left: 0;
    } 
}
.hover__card {
    background-color: #fff;
    position: relative;
    width: 850px;
    min-width: 850px;
    margin-top: 30px;
    border-radius: 6px;
}
.cancel__button {
    position: absolute;
    width: 50px;
    right: 0;
    fill: #fff;
    top: 0;
    z-index: 40000;
    &:hover {
        fill: darken($color: #fff, $amount: 20);
    }
}
.img__container {
    background: linear-gradient(to top,#181818,transparent 50%);
    z-index: 2000;
    border-radius: 2px;
    position: relative;
    img {
        width: 100%;
        z-index: -1;
        height: 100%;
    }
}

.modal__tool {
    position: absolute;
    bottom: 5%;
    left: 3rem;
    width: 40%;
    z-index: 2000;
    min-height: 2em;
}
.preview__modal {
    background-color: #181818;
    height: 100%;
}
.modal__button {
    width: 40px;
    position: relative;
    fill: #fff;
    &:hover {
        fill: darken($color: #fff, $amount: 20);
        span {
            display: block;
        }
    }
}
.detail__modal__container {
    width: 100%;
    padding: 0 3em;
    height: auto;
}
.detail__modal {
    display: grid;
    grid-template-columns: minmax(0,2fr) minmax(0,1fr);
    column-gap: 2em;
    width: 100%;
}
.detail__modal__right {
    color: #fff;
    & > div {
        margin: 10px;
    }
}
.label {
    color: #777!important;
    font-size: 14px;
    line-height: 20px;
}
.label__title {
    color: #fff;
    padding-left: 20px;
}
.synopsis, .duration {
    margin: 10px 0;
    font-size: 18px;
    color: #fff;
}
.recommanded {
    color: #46d369;
}