.container {
    height: 100vh;
    background-color: rgb(15, 15, 15);
    padding-top: 100px;
}

.header__title {
    padding: 10px;
    width: 100%;
    margin-left: 5vw;
    color: #fff;
}
.card__container {
    display: flex;
    flex-wrap: wrap;
    height: 30%;
    align-items: center;
}