
.row__container {
    width: 100%;
    margin: 3vw 0;
    padding: 0 4%;
    z-index: 10000;
}
.slider {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
}
.label__row {
    color: #fff;
    position: relative;
    font-size: 1.2vw;
    padding: 1vw;
    z-index: 3000;
    cursor: pointer;
    display: flex;
    align-items: center;
}
