.slider__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    .movie__container {
        width: 100%;
        display: flex;
    }
}