.button__primary {
    cursor: pointer;
    padding:7px 17px;
    background: $colorMain;
    border: none;
    border-radius: 6px;
    color: #fff;
    margin: 20px 0 20px 0;
    width: 40%;
    transition: all 0.2s linear;
    &:hover {
      transform: scale(1.1);
    }
    &-nav {
      width: 45px;
    }
  }