.swiper {
    display: flex;
}
.swiper-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 30px 0 30px 0;
}
.swiper-slide {
    overflow: hidden;
    flex-direction: column;
    // background-color: #fff;
    border-radius: 8px;
    margin: 5px;
    margin-right: 10px!important;
    height: 150px;
    min-width: 100px;
    max-width: 250px;
    cursor: pointer;
    transition: all 0.3s;
   
}