@import "./helpers/variables";
@import "./helpers/fonts";
@import "./helpers/reset";
@import "./themes/button";
@import "./themes/text-align";
@import "./themes/input";
@import "./themes/sweeper";

body {
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: $mainFont;
}
.message {
  &-error {
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    padding: 6px;
  }
  &-success {
    color: green;
  }
}
.logo {
  &-lg {
    width: 300px;
    height: 400px;
  }
  &-md {
    width: 200px;
  }
}
.red {
  color: $colorMain;
}
svg {
  cursor: pointer;
}