.metadata__container {
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    form {
        display: flex;
        justify-content: center;
        flex-direction: column; 
    }
    input {
        padding:10px;
        border-radius: 4px;
        outline: none;
        border: none;
        margin: 10px 0;
    }
    label {
        color: #fff
    }
    .selectbox {
        margin: 10px 0;
    }
}