@import "../../../styles/helpers/variables";
.modal__container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.548);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999999999;
}
.main__container {
    padding: 20px;
    background-color: #333;
    width: 50%;
    height: 90%;
    border-radius: 8px;
    color: #fff;
    text-align: center;
}
.disclaimer {
    margin-top: 30px;
    h2, h3,ul, li {
        list-style: circle;
        margin: 5px;
    }

}
.accept__button {
    margin-top: 50px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    button {
    cursor: pointer;
    padding: 10px 17px;
    text-align: center;
    background: $colorMain;
    border: none;
    width: 100px;
    font-size: 0.8rem;
    border-radius: 6px;
    color: #fff !important;
    width: auto;
    transition: all 0.2s linear;
    &:hover {
      transform: scale(1.1);
    }
    }
}