.bg {
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
    img {
        object-fit: cover;
    }
}
.main__container {
    z-index: 8000;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.411);
    color: #fff;
    text-align: center;
    h1 {
        width: 50%;
        margin-bottom: 20Px;
    }
    h2 {
        width: 55%;
    }
    
}