@import "../../../styles/helpers/variables";

.main__container {
    background-color: #333;
    padding-top: 120px;
    height: 2000px;
    overflow: scroll;
}

.label__container {
    display: flex;
    width: 100%;
    background-color: #333;
    justify-content: center;
    align-items: center;
}
.label {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
.label__text {
    cursor: pointer;
    color: #fff;
    font-size: 1.5vw;
    padding: 8px;
    &:hover {
        transform: scale(1.2);
        color: #b3b3b3;
    }
}
.active {
    border: 2px solid $colorMain;
    border-radius: 2px;
}
.metadata__container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 200%;
    padding: 30px;
}