@import "../../styles/helpers/variables";
.checkout__container {
    height: 100vh;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.checkmark {
    color: red!important;
}
.checkout__header {
    width: 100%;
    height: 60%;
}.title {
    padding-top: 80px;
    height: 40%;
}
.checkmark__group {
    display: flex;
    align-items: center;
    p {
        font-size: 18px;
        margin-left: 5px;
    }
}
.plangrid {
    height: 60%;
    display: flex;
    flex-direction: column;
}
.plangrid__header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}
.plangrid__selector {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.plangrid__label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: $colorMain ;
    padding: 1px;
    background: #e50914;
    color: #fff;
    font-weight: 700;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    opacity: .6;
    border-radius: 2px;
    font-size: 17px;
    margin: 0 auto;
}
.active {
    opacity: 1;
}
.plangrid__table {
    width: 100%;
    height: 100%;
    display: flex;
    border-collapse: collapse;
    flex-direction: column;
    padding-bottom: 10px;

}
.row {
    border-bottom: 1px solid #ccc;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cell__head {
    width: 60%;
    text-align: left;
    padding: 12px 16px;

}
.cell {
    width: calc(60% / 3);
    padding: 12px 16px;
    text-align: center;
    font-weight: 700;
    color: #737373;
    fill: #737373;
}
.red {
    color: red;
}
.btn__container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn__primary {
    min-height: 64px;
    font-weight: 500;
    background-color: $colorMain;
    border-radius: 4px;
    border: none;
    color: #fff;    
    font-size: 24px;
    width: 50%;
    cursor: pointer;
}