@import "../../../styles/helpers/variables";

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0px;
}
.open {
  width: 300px;
}
.sidebar__button {
    border: none!important;
    z-index: 5000;
    top: 18px;
    position: absolute;
    cursor: pointer;
    left: 15px;
    width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: $colorSVariant;
    z-index: 3000;
  }
.head__logo {
  padding: 25px;
  position: absolute;
  top: 50px;
  width: 100%;
  justify-content: center;
  z-index: 8000;
}
.sidebar__profil {
  padding: 25px;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  z-index: 8000;
}
.navitems {
  padding: 25px;
  position: absolute;
  top: 150px;
  width: 100%;
  justify-content: center;
  z-index: 8000;
}
.navitem {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $colorMain;
}
.navitem__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}
.test {
  color: #e50914;
}

.navitem__text {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}
.icon__sidebar {
  height: 50px;
  width: 50px;
}
.visible {
  width: 0;
  height: 0;
  svg {
    width: 0;
  }
}

//   .side__button {
//     outline: none !important;
//     border: none ;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     cursor: pointer;
//     position: absolute;
//     top: 18px;
//     left: 15px;
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//     background: transparent;
//   }