.profil__card {
    border-radius: 8px;
    overflow: hidden;
    width: 10vw;
    height: 10vw;
    cursor: pointer;
    margin: 5px;
    transition: all 0.5s;
    &:hover {
        transform: scale(1.1);
    }
}
.profil__image {
    height: 100%;
    width: 100%;
}