.main__container {
    background-color: rgb(15, 15, 15);
    width: 100vw;
    height: 4000px;
    padding-top: 120px;
    .select {
        position: absolute;
        top: 100px;
        left: 200px;
        width: 30%;
        background-color: #333;
    }
}
.img__slider {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}
.item__card {
    &:hover {
         & > div {
            height: 100%;
            opacity: 1;
        }
    }
}
.card__description {
    svg {
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 90000;
        fill: #fff;
        &:hover {
            fill: #333;
        }
    }
    padding: 5px;
    opacity: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 0;
    transition: all 0.5s;
    background-color: rgba(51, 51, 51, 0.253);
    p {
        color: #fff;
        z-index: 90000;
        text-align: center;
    }
}
.categories {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    width: 100%;
    transition: all 0.5s;
    justify-content: center;
    p {
        margin: 5px;
    }
}
.row__header {
    margin: 0 4% 0.5em 0;
    width: 100%;
    display: inline-block;
    &:hover{
       & > a span {
            opacity: 1;
        }
    }
    span {
        left: 100px;
        position: absolute;
        opacity: 0;
        font-size: .9vw;
        margin-left: 8px;
        width: 30%;
        height:10px;
        display: flex;
    }
}
.row__title {
    color:  #fff !important;
    font-size: 700;
    vertical-align: bottom;
    line-height: 1.25vw;
    font-size: 1.4vw;
    display: flex;
    width: 100%;
}
.hero {
    padding-top: 350px;
    z-index: 2;
    width: 100%;
}
.bg__image__container {
    position: absolute;
    height: 56.25vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    .bg__image {
        width: 100%;
        height: 100%;
        mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0) 90%);
        z-index: 2;
    }
}
.movie__gallery {
    padding-top: 350px;
}