
.card {
    padding: 5px 10px;
    height: 100%;
    width: 350px;
    max-width: 350px;
    min-width: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
    }
}
.card__ {
    padding: 5px 10px;
    height: 100%;
    width: 25%;
    max-width: 350px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
    }
}

.show__modal {
    width: 40px;
    position: absolute;
    bottom: 1em;
    color: #fff;
    right: 1em;
    &:hover {
        color: #333
    }
}



