@import "../../../styles/helpers/variables";
.logo {
    width: 150px;
    margin-right: 20px;
    fill: $colorMain;
    @media screen and (max-width: 949px) {
        width: 6.75rem;
        height: 2rem;
    }
}
.logo__nav {
    width: auto;
}
.nav__container {
    z-index: 500000;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: transparent;
}
.nav__items {
    display: flex;
}
.nav__menu {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__button {
    cursor: pointer;
    padding: 10px 17px;
    text-align: center;
    position: absolute;
    right: 60px;
    background: $colorMain;
    border: none;
    width: 100px;
    font-size: 0.8rem;
    border-radius: 6px;
    color: #fff !important;
    width: auto;
    transition: all 0.2s linear;
    &:hover {
      transform: scale(1.1);
    }
}
.nav__tool__container {
    width: 20%;
    height: 100%;
}
.nav__item {
    cursor: pointer;
    padding: 15px;
    font-size: 1.0rem;
    color: #fff;
    transition: all 0.2s;
    &:hover {
        color: #b3b3b3;
    }
}
.nav__profil {
    width: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    img {
        border-radius: 8px;
    }
}
.nav__tool {
    display: flex;
    height: 100%;
    width: 20%;
}
.button__container {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0!important;

}
