.account__container {
    background-color: #333;
    height: 100vh;
    padding-top: 200px;
}
.metadata__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:  #fff;
}
.subscription {
    margin: 20px;
    text-align: center;
}
.choose {
    display: flex;
    button {
    font-size: 0.8rem;
    border-radius: 6px;
    color: #fff !important;
    cursor: pointer;
    padding: 10px 17px;
    text-align: center;
    background: #e50914;
    border: none;
    margin: 15px;
    }
}