.card__2 {
    position: absolute;
    top: 0;
    z-index: 9999999;
}
.test__container {
    position: absolute;

}
.card {
    width: 17vw;
    border-radius: 4px;
    position: relative;
    height: 120px;
    margin: 1px;
    cursor: pointer;
    z-index:10;
    @media screen and (min-width: 1100px) and (max-width: 1399px) {
        width: 17%;
    }
    
}
.titlecard__container {
    height: 100%;
    width: 100%;
    img {
        border-radius: 4px;
    }
}
.arrow {
    position: absolute;
    right: 5%;
    bottom: 5%;
    border-radius: 50%;
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    padding: 0.1rem;
    justify-content: center;
    
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.699);
    &:hover {
        border-color: #fff;
    }
    svg {
        width: 100%;
        height: 100%;
        fill: #fff;
        color: #fff;
    }
}
@keyframes scale {
    0% {
        opacity: 1;
        transform: scale(1);
    } 100% {
        opacity: 1;
        transform: scale(1.2);
    }
}   









// .card{
//     height: 100%;
//     transition: all 1s;
// }
// .card__image {
//     height: 100%;
// }
// .card__image__focus {
//     border-radius: 5px;
//     height: 80%;
//     img {
//         border-radius: 2px;
//     }
// }
// .card__description {
//     height: 100%;
//     width: 100%;
//     opacity: 0;
// }
// .card__description__focus {
//     // background-color: #333;
//     border-top: 2px solid #fff;
//     height: 50%;
//     transition: 1s all;
//     width: 100%;
//     opacity: 1;
//     color: #fff;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     display: flex;
//     border-radius: 1px;
//     p{
//         font-size: 12px;
//     }
// }
// .categories {
//     display: flex;
//     z-index: 90000;
//     justify-content: center;
//     height: 100%;
//     width: 100%;
// }
// .add__button {
//     fill: #fff;
//     &:hover {
//         fill: gray;
//     }
//     width: 40px;
// }