@import "../../styles//helpers/variables";

.edit__profil {
    height: 100vh;
    background-color: $bg;
    position: absolute;
    width: 100%;
    z-index: 9000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.edit__profil__action {
    color: #fff;
    h1 {
        font-size: 4vw;
        width: 100%;
    }
}
.profil__metadata {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profil__input {
    width: 80%;
    height: 2em;
    background: #666;
    border: 1px solid transparent;
    padding: 0.2em 0.6em;
    margin: 5%;
    color: #fff;
    font-size: 1.3vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    text-indent: 0.1vw;
}
.profil__button {
    margin: 2em 0 1em 0;
    font-size: 1.2vw;
    border: 1px solid transparent;
    padding: 0.5em 1.5em;
    letter-spacing: 2px;
    margin-right: 20px;
    cursor: pointer;
    &:hover {
        background: #c00;
        border: 1px solid #c00;
        color: #fff;
    }
}
.metadata__image {
    border-radius: 8px;
    width: 8vw;
    height: 8vw;
    margin: 8px;
    cursor: pointer;
}
.profil__gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    z-index: 9000;
}
.metadata__image__container {
    position: relative;
    svg {
        position: absolute;
        top: 25%;
        transform: translateX(-50%);
        left: 50%;
        width: 40px;
    }
}
.gallery__image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.svg__white {
    fill: #fff;
}